@import 'mixins';

#app {
  will-change: padding;
  transition: all 0.3s ease;
}

html,
body {
  height: 100%;
}

body {
  background: url('./../../assets/images/global/texture-crop.jpg') top left repeat;
  color: #000;
}

.wrapper,
.inner {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

main {
  padding: 0 24px 24px;
  position: relative;

  > * {
    margin-bottom: 60px;
  }
}

.page {
  margin-bottom: 72px;
  position: relative;

  .trowel {
    position: absolute;
    top: 0;
    right: -370px;
    height: 500px;
    width: auto;
    display: none;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .text {
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
    // justify-content: flex-start;
    // height: 100%;
    //
    // * {
    //   width: 100%;
    // }
    //
    // h2 {
    //   // margin-bottom: auto;
    //   align-self: flex-start;
    // }
    p,
    h3 {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.text,
.image {
  width: calc(50% - 24px);
}

// .text {
//   margin-bottom: 36px;
// }

.splash,
.dragdealer,
.handle,
.image-holder,
.image {
  border-radius: 6px;
  overflow: hidden;
}

.icon {
  display: block;
  width: 84px;
  height: 84px;
  border-radius: 100%;
  text-indent: -99999rem;
  overflow: hidden;
  position: relative;
  will-change: opacity, transform;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 1;
  }

  &.play {
    background: url('./../../assets/images/global/icons/video-circle.svg') 50% 50% no-repeat;
  }
}
