@import 'mixins';

#app {
  will-change: padding;
  transition: all 0.3s ease;
}

html,
body {
  height: 100%;
}

body {
  background: url('./../../assets/images/global/texture-crop.jpg') top left repeat;
  color: #000;
}

.wrapper,
.inner {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

main {
  padding: 0 24px 24px;
}
