@mixin hwa() {
    // 3D rendering on GPU
    transform: translateZ(0);

    // fix chrome and safari flicker
    backface-visibility: hidden;
    perspective: 1000;

    // webkit-powered
    transform: translate3d(0, 0, 0);
}

@mixin delay($number, $delay, $defer, $transition: true) {
    @for $i from 1 through $number {
        &:nth-of-type(#{$i}) {
          @if $transition {
            transition-delay: $i * $delay + $defer;
          } @else {
            animation-delay: $i * $delay + $defer;
          }

        }
    }
}

@mixin centre() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
